auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/url/
/var/
/.sx/
ac-comphist.dat
ido.last
history
recentf
/ensime/
/node_modules/